.testimonial_area{margin-top:-180px;
margin-bottom: -50px;}


@media (min-width: 600px){
	.testimonial_area{padding-bottom:180px}
	}

@media (min-width: 1200px){
	.testimonial_area{padding-bottom:0px}
}


.labo h2{
	text-align: center;
	font-size: 4vw;
	font-family:showcard gothic;
	 color:orange;
	 margin-top: -170px;
	 padding-bottom: 250px;
}
@media (max-width: 600px){
	.labo h2{
		margin-top: -500px;
		padding-bottom: 150px;
		font-size: 35px;
	}
}
.testimonial-slider{position:relative;z-index:1}
.testimonial-slider::after{
content:"";
display:block;
position:absolute;
top:0px;
left:-185px;
transform:scale(0.8);
background:url(ggn-bg.png) left center no-repeat;
background-size:cover;
z-index:-1;
display:none
}



@media (min-width: 992px){.testimonial-slider::after{display:block}}
@media (min-width: 1200px){
.testimonial-slider::after{
width:665px;
height:550px;
transform:scale(1)
}}

.testimonial-slider .testimonial-item{
margin-top:60px
}

@media (min-width: 992px){
.testimonial-slider .testimonial-item{margin-top:150px}}

.testimonial-slider .owl-item img{
width:200px;
height:225px;
margin-right:auto;
margin-left:auto;
border-radius:0 40px 0 40px;
box-shadow:-1px 7px 20px 0px rgba(5,54,77,0.2)
}


.testimonial-slider h4{
font-size:20px;
margin-bottom:4px
}


.testimonial-slider small{
font-size:14px;
font-weight:300
}



.testimonial-slider p{
color:#5b6d75
}



.testimonial-slider .owl-dots{
position:absolute;
left:50%;
padding-top:20px;
transform:translateX(-50%)
}



@media (min-width: 992px){
.testimonial-slider .owl-dots{left:70%}
}



.testimonial-slider .owl-dots .owl-dot span{
background:#c8cfda
}

.testimonial-slider .owl-dots .owl-dot.active span{
	background:#5f30ff
}
