/* Base */
body {
  line-height: 1.7;
  color: #999999;
  font-weight: 300;
  font-size: 15px; }

::-moz-selection {
  background: #000;
  color: #fff; }

::selection {
  background: #000;
  color: #fff; }

a {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease; }
  a:hover {
    text-decoration: none; }

h1, h2, 
.h1, .h2,{
  font-family: "Muli", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  color: #5577B4; 
width: 100%;}



 

/* Blocks */
.intro-section {
  background-size: cover;
  position: relative; }

  .intro-section, .intro-section .container .row {
    height: 250vh;
    min-height: 1000px; }
  .intro-section:before {
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0);
    border-bottom-right-radius: 0px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat; }
    @media (max-width: 991.98px) {
      .intro-section:before {
        width: 100%; } }
  .intro-section .intro h1 {

    font-size: 105px;
    font-weight: 1500;
    line-height: 1.5;
    color: #595959;
    margin-top: 50px; }
    @media (max-width: 991.98px) {
      .intro-section .intro h1 {
        font-size: 54px;
        color:#595959 ;
        margin-top: -280px;
         } }
.satur{
  font-size: 5vw;
font-family: sans-serif;
padding-top: 100px; 
padding-bottom: 70px;
color: black;
padding-left: 500px;
 text-decoration: underline;}

 @media screen and (max-width: 600px){
  .satur {
    font-size: 45px;
font-family: sans-serif;
padding-top: 50px; 
padding-bottom: 70px;
color: black;
padding-left: 80px;
 text-decoration: underline;}
 } 


.intro-section .ggn h1 {

    font-size: 65px;
    font-weight: 1500;
    line-height: 1.5;
    color: white;
    width: 600px;
    margin-left: 200px;
    margin-top: 200px;
     }
    @media (max-width: 991.98px) {
      .intro-section .ggn h1 {
        font-size: 34px;
        color:#595959 ;
        width: 100%;
        margin-left: 20px;
        margin-top: 50px;
         } }


  .intro-section.small, .intro-section.small .container .row {
    height: 90vh;
    min-height: 300px; }
  .intro-section .intro {
    margin-top: 6rem; }





.title-with-line {
  color: #000;
  position: relative;
  padding-bottom: 20px;
  margin-bottom: 20px;
  font-size: 30px; }
  .title-with-line:after {
    left: 0;
    bottom: 0;
    position: absolute;
    content: "";
    width: 30px;
    height: 2px;
    background: #5577B4; }
  .title-with-line.text-center:after {
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%); }
.feature-1, .person {
  background: #fff;
  margin-bottom: 100px; }
  .feature-1 .icon-wrapper, .person .icon-wrapper {
    position: relative;
    width: 96px;
    height: 55.43px;
    right: 0;
    left: 0;
    margin: 0 auto;
    z-index: 1;
    margin-top: -33.94px;
    background: #ccc; }
    .feature-1 .icon-wrapper > svg, .person .icon-wrapper > svg {
      position: absolute;
      left: 50%;
      top: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      text-align: center;
      font-size: 40px;
      color: #fff;
      line-height: 96px;
      display: inline-block;
      position: absolute; }
    .feature-1 .icon-wrapper:before, .feature-1 .icon-wrapper:after, .person .icon-wrapper:before, .person .icon-wrapper:after {
      content: "";
      position: absolute;
      z-index: -1;
      width: 67.88px;
      height: 67.88px;
      -webkit-transform: scaleY(0.5774) rotate(-45deg);
      -ms-transform: scaleY(0.5774) rotate(-45deg);
      transform: scaleY(0.5774) rotate(-45deg);
      background-color: inherit;
      left: 14.06px; }
    .feature-1 .icon-wrapper:before, .person .icon-wrapper:before {
      top: -33.94px; }
    .feature-1 .icon-wrapper:after, .person .icon-wrapper:after {
      bottom: -33.94px; }
  .feature-1 .feature-1-content, .person .feature-1-content {
    padding: 50px 20px 20px 20px;
    text-align: center; }
    .feature-1 .feature-1-content h2, .person .feature-1-content h2 {
      font-size: 1.3rem;
      color: #000; }

.person {
  margin-bottom: 50px !important; }
  .person img {
    width: 100px;
    height: 100px;
    margin-top: -50px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto; }

.touch{
  -webkit-transform:rotate(180deg);  
  -moz-transform: rotate(180deg);  
  -ms-transform: rotate(180deg);  
  -o-transform: rotate(180deg);  
  transform: rotate(180deg);  
}

.news-entry-item h3 {
  font-weight: 700;
  font-size: 18px; }
  .news-entry-item h3 a {
    color: #000; }

.news-entry-item .thumbnail {
  margin-bottom: 20px;
  position: relative;
  display: block;
  overflow: hidden; }
  .news-entry-item .thumbnail img {
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease; }
  .news-entry-item .thumbnail .date {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 15px 30px;
    border-bottom: 2px solid #5577B4;
    background: #fff; }
    .news-entry-item .thumbnail .date span {
      color: #5577B4;
      display: block;
      line-height: 1;
      font-weight: 700; }

.news-entry-item:hover .thumbnail img {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05); }

@media screen and (max-width:600px){
  div.news-entry-item p{
    font-size:25px;
    width: 370px;
    line-height: 1.6;
    font-style: italic;
    margin-left: 10px;
  }
}

.news-entry-item p{
  font-size: 1.2vw;
  line-height: 1.6;
}
@media screen and (max-width: 600px){
  #tth{
    height:250px;
    width: 100%;
  }
}
